/* ------ ----- Reset ------ ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  height: 100vh;
  background-color: #141414;
}
img {
  display: block;
  max-width: 100%;
}
h1, h2, h3 {
  text-align: center;
  margin: 24px 0;
}
/* ------ ----- Base ------ ----- */
.container {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  text-transform: uppercase;
  color: white;
}
.title--small {
  font-weight: normal;
  font-size: 16px;
  color: #999;
}
.title--left {
  text-align: left;
}
/* ------ ----- General ------ ----- */
div#slide-wrap {
  position: relative;
}
div#slide-wrapper {
  position: relative;
  width: 1250px;
  max-width: 90%;
  margin: 0 auto;
  scroll-behavior: smooth;
  transition: transform ease 500ms;
}
div#slide {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}
/* ------ ----- Itens ------ ----- */

div.slide-item {
  margin-right: 5px;
  min-width: 245px;
  height: 150px;
  cursor: pointer;
  transition: transform ease 300ms;
}
div.slide-item:hover img{
  transform:scale(1.2);
}
div.slide-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------ ----- Control ------ ----- */
.control,
.controls {
  position: absolute;
}
.controls {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
}
.control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.control-prev,
.control-next{
  height: 100%;
  padding: 0 16px;
  border: 0 none;
  font-size: 36px;
  cursor: pointer;
  outline: none;
  color: white;
}
.control.control-prev {
  background: rgb(29,29,29);
  background: linear-gradient(90deg, rgba(29,29,29,1) 0%, rgba(29,29,29,0) 100%);
  left:0;
}
.control.control-next {
  background: rgb(29,29,29);
  background: linear-gradient(90deg, rgba(29,29,29,0) 0%, rgba(29,29,29,1) 100%);
  right:0;
}